<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-agora-android-rtc" version="0.1.0">
  <name>Agora-Android-RTC</name>
  <description></description>
  <license>Agora CopyRight</license>
  <keywords>webrtc,rtc,agora,android</keywords>
  <js-module src="www/Util.js" name="Util">
    <clobbers target="Util" />
  </js-module>
  <js-module src="www/EventTarget.js" name="EventTarget">
    <clobbers target="EventTarget" />
  </js-module>
  <js-module src="www/Player.js" name="Player">
    <clobbers target="Player" />
  </js-module>
  <js-module src="www/Media.js" name="Media">
    <clobbers target="navigator.mediaDevices" />
  </js-module>
  <js-module src="www/RTC.js" name="RTC">
    <clobbers target="RTC" />
  </js-module>
  <js-module src="www/rtcn/AgoraRTCN.js" name="AgoraRTC">
    <clobbers target="AgoraRTC" />
  </js-module>
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="Media">
        <param name="android-package" value="io.agora.rtc.media.MediaHook"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="config.xml" parent="/*">
      <feature name="Player">
        <param name="android-package" value="io.agora.rtc.player.PlayerHook"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="config.xml" parent="/*">
      <feature name="WebRTC">
        <param name="android-package" value="io.agora.rtc.webrtc.WebRTCHook"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-feature android:name="android.hardware.camera" />
      <uses-feature android:name="android.hardware.camera.autofocus" />

      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
      <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:foregroundServiceType="mediaProjection" android:name="io.agora.rtc.media.services.ScreenCaptureService"/>
    </config-file>
    <!-- Media -->
    <source-file src="src/android/java/media/enums/Action.java" target-dir="src/io/agora/rtc/media/enums"/>
    <source-file src="src/android/java/media/enums/EMessage.java" target-dir="src/io/agora/rtc/media/enums"/>
    <source-file src="src/android/java/media/models/MediaDeviceInfo.java" target-dir="src/io/agora/rtc/media/models"/>
    <source-file src="src/android/java/media/services/MediaDevice.java" target-dir="src/io/agora/rtc/media/services"/>
    <source-file src="src/android/java/media/services/MediaStreamTrackWrapper.java" target-dir="src/io/agora/rtc/media/services"/>
    <source-file src="src/android/java/media/services/ScreenCaptureService.java" target-dir="src/io/agora/rtc/media/services"/>
    <source-file src="src/android/java/media/MediaHook.java" target-dir="src/io/agora/rtc/media"/>
    <!-- Player -->
    <source-file src="src/android/java/player/enums/Action.java" target-dir="src/io/agora/rtc/player/enums"/>
    <source-file src="src/android/java/player/enums/PlayConfigFit.java" target-dir="src/io/agora/rtc/player/enums"/>
    <source-file src="src/android/java/player/interfaces/Player.java" target-dir="src/io/agora/rtc/player/interfaces"/>
    <source-file src="src/android/java/player/interfaces/Supervisor.java" target-dir="src/io/agora/rtc/player/interfaces"/>
    <source-file src="src/android/java/player/models/PlayConfig.java" target-dir="src/io/agora/rtc/player/models"/>
    <source-file src="src/android/java/player/models/ProxyVideoSink.java" target-dir="src/io/agora/rtc/player/models"/>
    <source-file src="src/android/java/player/services/AudioPlayer.java" target-dir="src/io/agora/rtc/player/services"/>
    <source-file src="src/android/java/player/services/VideoView.java" target-dir="src/io/agora/rtc/player/services"/>
    <source-file src="src/android/java/player/PlayerHook.java" target-dir="src/io/agora/rtc/player"/>
    <!-- RTC -->
    <source-file src="src/android/java/webrtc/enums/Action.java" target-dir="src/io/agora/rtc/webrtc/enums"/>
    <source-file src="src/android/java/webrtc/interfaces/CredentialDetail.java" target-dir="src/io/agora/rtc/webrtc/interfaces"/>
    <source-file src="src/android/java/webrtc/models/MediaStreamConstraints.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/MediaTrackConstraints.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/MediaTrackConstraintSet.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/RTCCertificate.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/RTCConfiguration.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/RTCDataChannelInit.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/RTCIceServer.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/RTCOAuthCredential.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/RTCOfferOptions.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/RTCRtpEncodingParameters.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/RTCRtpParameters.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/RTCRtpReceiveParameters.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/RTCRtpSendParameters.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/RtpTransceiverInit.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/models/SessionDescription.java" target-dir="src/io/agora/rtc/webrtc/models"/>
    <source-file src="src/android/java/webrtc/services/PCFactory.java" target-dir="src/io/agora/rtc/webrtc/services"/>
    <source-file src="src/android/java/webrtc/services/RTCPeerConnection.java" target-dir="src/io/agora/rtc/webrtc/services"/>
    <source-file src="src/android/java/webrtc/Config.java" target-dir="src/io/agora/rtc/webrtc"/>
    <source-file src="src/android/java/webrtc/WebRTCHook.java" target-dir="src/io/agora/rtc/webrtc"/>
    <!-- resources -->
    <resource-file src="libs/libwebrtc.aar" target="libs/libwebrtc.aar" />
    <!-- framework -->
    <framework src="./src/android/build.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>